.isi {
    margin-top: 194px;
    margin-left: 100px;
    margin-right: 539px;
    margin-bottom: 274px;
    width: 641px;
    height: 364px;
    background-color: #CEE6F3;
    border-radius: 24px;
    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: auto;
}

.form-1{
    display: flex;
    gap: 50px;
}

.form-2{
    display: flex;
    gap: 30px;
}

.form-3{
    display: flex;
    gap: 29px;
}

/*
.sisi-kanan{
    margin-left: 90px;
}
*/

.button-1{
    margin-left: 59%;
}

h1{
    width: 350px;
    height: 14px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

p{
    text-align: justify;
}


