.isi{
    display: flex;
    flex-direction: column;
    margin-left: 98px;
    margin-top: 138px;
}


.rumus{
    background-color: #CEE6F3;
    width: 264px;
    height: 156px;
    padding-top: 20px;
    padding-left: 10px;
    border-radius: 24px;
}

.hasil{
    margin-top: 110px;
}